version: "3.8"

services:
  frontend:
    container_name: wotlk-raid-manager-frontend
    build:
      context: .
      target: development
      dockerfile: ./frontend/Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - ./env/.env.development
    ports:
      - ${FRONTEND_PORT_PUBLIC}:${FRONTEND_PORT_CONTAINER}
    #depends_on:
    #- backend
    #- auth
    #- db

  backend:
    container_name: wotlk-raid-manager-backend
    build:
      context: ./backend
      target: development
      dockerfile: Dockerfile
    volumes:
      - ./backend/src:/usr/backend/src
      - ./backend/data:/usr/backend/data
    env_file:
      - ./env/.env.development
    ports:
      - ${BACKEND_PORT_PUBLIC}:${BACKEND_PORT_CONTAINER}
    #depends_on:
    #- auth
    #- db

  db:
    image: mysql:8.0.28
    platform: linux/x86_64
    container_name: wotlk-raid-manager-db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
      MYSQL_HOST: localhost
      MYSQL_PORT: ${DB_PORT_PUBLIC}
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./db/scripts/init_filtered_talents.sql:/docker-entrypoint-initdb.d/init_filtered_talents.sql
    ports:
      - ${DB_PORT_PUBLIC}:${DB_PORT_CONTAINER}
